<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Example app</title>
    <script src="webjars/angularjs/1.6.1/angular.js"></script>
    <script src="webjars/angular-ui-router/1.0.0-beta.3/angular-ui-router.js"></script>
    <script src="js/mainApp.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="mainController">

<h4>Put in the size of an array and the numbers to sort(numbers <= 9 for now).</h4>
<form ng-submit="sortArray()">
    <table>
        <tr>
            <td><input type="text" ng-model="arrayForm.size" placeholder="Size"/></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="arrayForm.numbers" placeholder="Numbers"/></td>
        </tr>
        <tr>
            <td>
                Bubble sort <input ng-model="arrayForm.type" type="radio" value="bubble"/>
            </td>
            <td>
                Exchange sort <input ng-model="arrayForm.type" type="radio" value="exchange"/>
            </td>
            <td>
                Selection sort <input ng-model="arrayForm.type" type="radio" value="selection"/>
            </td>
            <td>
                Insertion sort <input ng-model="arrayForm.type" type="radio" value="insertion"/>
            </td>
            <td>
                Quick sort <input ng-model="arrayForm.type" type="radio" value="quick"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="reset">Reset</button>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>

<div ng-show="beforeSort != null">
    Before sorting: {{beforeSort}}.
    <br>After sorting: {{sortedArray}}.
    <br>Time of sorting: {{timeComplexity}} ms.
</div>

</body>
</html>