<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>Example app</title>
    <script src="webjars/angularjs/1.6.1/angular.js"></script>
    <script src="webjars/angular-ui-router/1.0.0-beta.3/angular-ui-router.js"></script>
    <script src="js/mainApp.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="mainController">

<h4>Put in the size of an array and the numbers to sort and separate them with spaces.</h4>
<form ng-submit="sortArray()">
    <table>
        <tr>
            <td><input type="text" ng-model="arrayForm.numbers" placeholder="Numbers"/></td>
        </tr>
        <tr>
            <td>
                <select ng-model="arrayForm.type">
                    <option value="bubble">Bubble sort</option>
                    <option value="exchange">Exchange sort</option>
                    <option value="selection">Selection sort</option>
                    <option value="insertion">Insertion sort</option>
                    <option value="shell">Shell sort</option>
                    <option value="quick">Quick sort</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="reset">Reset</button>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>

<div ng-show="beforeSort != null">
    Before sorting: {{beforeSort}}.
    <br>After sorting: {{sortedArray}}.
    <br>Time of sorting: {{timeComplexity}} ms.
</div>

<h4>Put in the numbers to get merged array from them(separate with spaces).</h4>

<form ng-submit="mergeArrays()">
    <table>
        <tr>
            <td><input type="text" ng-model="mergeForm.arrayOne" placeholder="First array"></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="mergeForm.arrayTwo" placeholder="Second array"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>

<div ng-show="mergedArray != null">
    Merged arrays: {{mergedArray}}.
</div>

</body>
</html>